@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  color: #151f29;
}

header {
  text-align: center;
}

header h1 {
  font-size: 1.5rem;
  line-height: 1;
}

header span {
  font-weight: 300;
  color: #969696;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
}

footer {
  text-align: center;
  color: #969696;
}

@media (min-width: 900px) {
  html {
    font-size: 20px;
  }
  header h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
  }
  header p {
    font-size: 1.8rem;
  }
  p {
    font-size: 1rem;
  }
  input,
  .btn {
    font-size: inherit;
  }
}

body {
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 30px;
}

header h1 {
  margin-bottom: 20px;
}

header img {
  width: 100px;
  margin-bottom: 40px;
}

main.container {
  margin: 0 0 100px;
}

form {
  margin: 0 30px 60px;
}

.btn-lg {
  margin-top: 20px;
}

input,
.btn-lg {
  width: 100%;
}

.image-container img {
  width: 100%;
}

.social-links {
  margin-bottom: 20px;
}

.icon-container {
  margin-left: 10px;
}

@media (min-width: 900px) {
  .container {
    margin: 60px;
  }
  header img {
    width: 150px;
    margin-bottom: 60px;
  }
  header h1 {
    margin-bottom: 40px;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 60px 120px;
  }
  .input-form {
    width: 100%;
    margin-right: 20px;
  }
  .btn-lg {
    width: 300px;
  }
  main.container {
    margin-bottom: 50px;
  }
}

.btn,
input {
  padding: 15px 30px;
  border-radius: 30px;
  font-family: inherit;
}

input {
  border: 1px solid #c2d3ff;
  color: #151f29;
  font-weight: 600;
}

input::-webkit-input-placeholder {
  color: #c2d3ff;
  font-weight: 300;
}

input:-ms-input-placeholder {
  color: #c2d3ff;
  font-weight: 300;
}

input::-ms-input-placeholder {
  color: #c2d3ff;
  font-weight: 300;
}

input::placeholder {
  color: #c2d3ff;
  font-weight: 300;
}

input:focus, input:hover {
  border: 1px solid #969696;
  outline: none;
}

.btn-lg {
  border: none;
  background-color: #4f7df3;
  color: white;
  font-weight: 600;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.btn-lg:hover {
  opacity: 0.85;
}

.icon-container {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #c2d3ff;
  border-radius: 50%;
  color: #4f7df3;
}

.icon-container i {
  display: inline-block;
  margin-top: 6px;
  font-style: normal;
}

.icon-container:hover {
  background-color: #4f7df3;
  color: white;
}

@media (min-width: 900px) {
  .icon-container {
    width: 35px;
    height: 35px;
  }
  input,
  .btn-lg {
    padding: 25px 50px;
    border-radius: 40px;
  }
}

.error input {
  border: 1px solid #ff5263;
}

.error p {
  margin: 5px 30px 0;
  font-size: 0.8rem;
  color: #ff5263;
}
