@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  color: #151f29;
}

header {
  text-align: center;
}

header h1 {
  font-size: 1.5rem;
  line-height: 1;
}

header span {
  font-weight: 300;
  color: #969696;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
}

footer {
  text-align: center;
}

body {
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.container {
  margin: 30px;
}

header h1 {
  margin-bottom: 20px;
}

header img {
  width: 100px;
  margin-bottom: 40px;
}

main.container {
  margin: 0 0 100px;
}

form {
  margin: 0 30px 60px;
}

input {
  margin-bottom: 20px;
}

.image-container img {
  width: 100%;
}

.social-links {
  margin-bottom: 20px;
}

.icon-container {
  margin-left: 10px;
}

.btn,
input {
  width: 100%;
  padding: 15px 30px;
  border-radius: 30px;
  font-family: inherit;
}

input {
  border: 1px solid #c2d3ff;
  color: #151f29;
  font-weight: 600;
}

input::-webkit-input-placeholder {
  color: #c2d3ff;
  font-weight: 300;
}

input:-ms-input-placeholder {
  color: #c2d3ff;
  font-weight: 300;
}

input::-ms-input-placeholder {
  color: #c2d3ff;
  font-weight: 300;
}

input::placeholder {
  color: #c2d3ff;
  font-weight: 300;
}

input:focus, input:hover {
  border: 1px solid #969696;
  outline: none;
}

.btn-lg {
  border: none;
  background-color: #4f7df3;
  color: white;
  font-weight: 600;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.icon-container {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #c2d3ff;
  border-radius: 50%;
  color: #4f7df3;
}

.icon-container i {
  display: inline-block;
  margin-top: 6px;
  font-style: normal;
}

.icon-container:hover {
  background-color: #4f7df3;
  color: white;
}
